body {
    font-weight: bold;
    overflow: hidden;
}

h1,
h5 {
    color: white;
    text-align: center;
    font-weight: bolder;
}

table {
    align-items: center;
    border-color: red;
}

table tbody tr {
    color: white;
    background: rgb(0, 0, 0)
}

thead tr th {
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.root-div {
    margin-top: 0;
    padding: 0;
}

.layout-main {
    margin-top: 88px;
}

.comics-bg {
    background-image: url("../public/bg.jpg");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.hero-card {
    background-color: black;
}

.hero-card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.tradetable {
    margin-bottom: 20em;
}

.traderow-fillable-img {
    border: 2px solid green;
}

.traderow-unfillable-img {
    border: 2px solid red;
}

.traderow-center-vertically {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional: to center horizontally as well */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-center {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}
