body {
    color: red;
    font-weight: bold;
}

h1,
h5 {
    color: white;
    text-align: center;
    font-weight: bolder;
}

table {
    align-items: center;
    border-color: red;
}

table tbody tr {
    color: white;
    background: grey
}

thead tr th {
    font-size: larger;
    font-weight: bolder;
    color: white;
}

.root-div {
    margin-top: 0;
    padding: 0;
}

.layout-main {
    margin-top: 88px;
}

.comics-bg {
    background-image: url("../public/bg.jpg");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.hero-card {
    background-color: black;
}

.hero-card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.tradetable {
    margin-bottom: 20em;
}

.traderow-fillable-img {
    border: 2px solid green;
}

.traderow-unfillable-img {
    border: 2px solid red;
}